:root {
  --dark-color: #202124;
  --light-color: #f9f9f9;
  --mint-color: #71ffc0;
  --light-mint-color: rgba(37, 255, 209, .05);
  --error-color: #c90000;
  --disabled-color: #9e9e9e;
}

*::-moz-selection {
  background: #71ffc0;
}

*::selection {
  background: #71ffc0;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.disabled-hover {
  pointer-events: none;
}
