@import '@scss/mixins';

$inactive-border-color: #5f5f5f;
$disabled-color: rgba(0, 0, 0, .3);
$invalid-color: var(--error-color);
$invalid-shadow: rgba(255, 76, 77, 0.5);

/* Buttons. */
.mm-btn, .mm-text-btn {
  overflow: hidden;
  outline: none;
  letter-spacing: .05rem;
  text-decoration: none;
  border: none;
  vertical-align: middle;
  will-change: transform, opacity, box-shadow;
  cursor: pointer;
  @include transition(all 250ms cubic-bezier(.4, 0, .2, 1));
  @include user-select(none);
}

.mm-btn {
  @include border-radius(4px);
  @include box-shadow(0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12));

  &:hover:not(:active) {
    @include box-shadow(0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12));
  }

  &:active {
    @include transform(scale(.99));
  }
}

.mm-btn-small {
  padding: 4px 8px;
  font-size: .7rem;
}

.mm-btn-medium {
  padding: 7px 10px;
  font-size: .95rem;
}

.mm-btn-large {
  padding: 8px 14px;
  font-size: 1.6rem;
}

.mm-btn-light {
  background: var(--light-color);
  color: var(--dark-color);
}

.mm-btn-dark {
  background: var(--dark-color);
  color: var(--light-color);
}

.mm-text-btn-light {
  background: transparent;
  color: var(--dark-color);

  &:hover {
    background: var(--light-mint-color);
  }
}

.mm-text-btn-dark {
  background: var(--dark-color);
  color: var(--light-color);

  &:hover {
    background: #313237;
  }
}

/* Checkboxes. */
.mm-checkbox {
  position: relative;
  @include user-select(none);

  &:hover {
    input:focus {
      opacity: 0.16;
    }
  }

  input {
    z-index: -1;
    position: absolute;
    display: block;
    opacity: 0;
    width: 40px;
    height: 40px;
    left: -11px;
    top: -11px;
    margin: 0;
    outline: none;
    pointer-events: none;
    @include appearance(none);
    @include border-radius(50%);
    @include transform(scale(1));
    @include box-shadow(none);
    @include transition(opacity 300ms, transform 200ms);

    &:checked, &:indeterminate {
      background-color: var(--mint-color);

      & + span:before {
        border-color: var(--dark-color);
        background-color: var(--dark-color);
      }

      & + span:after {
        border-color: var(--light-color);
      }
    }

    &:focus {
      opacity: .12;
    }

    &:active {
      opacity: 1;
      @include transform(scale(0));
      @include transition(transform 0s, opacity 0s);

      & + span::before {
        border-color: var(--dark-color);
      }
    }

    &:checked:active + span::before {
      border-color: transparent;
      background-color: var(--dark-color);
    }

    &:disabled {
      opacity: 0;

      & + span {
        color: $disabled-color;
        cursor: initial;

        &:before {
          border-color: $disabled-color;
        }
      }
    }
  }

  span {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: .8rem;
    cursor: pointer;

    &:before {
      content: '';
      display: flex;
      box-sizing: border-box;
      margin-right: 5px;
      border-radius: 2px;
      width: 18px;
      height: 18px;
      vertical-align: top;
      @include transition(border-color 200ms, background-color 200ms);
    }

    &.with-error {
      color: $invalid-color;

      &:before {
        border: solid 2px $invalid-color;
      }
    }

    &:not(.with-error) {
      color: inherit;

      &:before {
        border: solid 2px $inactive-border-color;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 5px;
      top: 1px;
      left: 0;
      border: solid 2px transparent;
      border-right: none;
      border-top: none;
      @include transform(translate(3px, 4px) rotate(-45deg));
    }
  }
}

/* Fields. */
.mm-field {
  position: relative;
  display: inline-block;
  font-size: 15px;

  & > input, & > textarea {
    box-sizing: border-box;
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 8px 8px 5px 8px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: solid 1px $inactive-border-color;
    border-top-color: transparent;
    background-color: transparent;
    color: var(--dark-color);
    caret-color: var(--dark-color);
    @include border-radius(3px);
    @include box-shadow(none);
    @include transition(box-shadow 150ms);

    &:not(:focus):placeholder-shown {
      border-top-color: $inactive-border-color;

      & + span {
        overflow: hidden;
        font-size: inherit;
        line-height: 34px;

        &:before, &:after {
          border-top-color: transparent;
        }
      }

      &.with-error + span {
        color: $invalid-color;
      }

      &:not(.with-error) + span {
        font-size: .8rem;
      }
    }

    &:focus {
      outline: none;
      border-color: var(--dark-color);
      border-top-color: transparent;

      &.with-error, &.with-error + span {
        color: $invalid-color;
      }

      &:not(.with-error), &:not(.with-error) + span {
        color: var(--dark-color);
      }
    }

    &:focus.with-error {
      @include box-shadow(inset 4px 0 0 $invalid-shadow, inset -3px -3px 0 $invalid-shadow);
    }

    &:focus:not(.with-error) {
      @include box-shadow(none);
    }

    &.with-error + span {
      border-color: $invalid-color;
      color: $invalid-color;
    }

    &:not(.with-error) + span {
      border-color: var(--dark-color);
      color: var(--dark-color);
    }

    & + span {
      position: absolute;
      display: flex;
      width: 100%;
      max-height: 100%;
      top: 0;
      left: 0;
      font-size: 75%;
      line-height: 1px;
      cursor: text;
      @include transition(color 165ms, font-size 165ms, line-height 165ms);
      @include user-select(none);

      &:before, &:after {
        content: '';
        display: block;
        box-sizing: border-box;
        min-width: 10px;
        pointer-events: none;
        border-top: solid 2px;
      }

      &:before {
        margin-right: 4px;
        border-left: solid 1px transparent;
        @include border-radius(4px 0);
      }

      &:after {
        flex-grow: 1;
        margin-left: 4px;
        border-right: solid 1px transparent;
        @include border-radius(0 4px);
      }
    }

    &:disabled, &:disabled + span {
      pointer-events: none;
      border-color: $disabled-color !important;
      color: $disabled-color !important;
    }
  }
}